<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<!-- exercise using JS update the time every second -->
<!-- hint look at JS setInterval -->
<h2>Today is <%= @now.strftime("%m/%d/%Y") %></h2>
<h2>The time is <%= @now.strftime("%H:%M:%S") %>