<body class="home">

	<div id='welcome-message' class='absolute center' style='position:absolute;top:0%;left:50%;transform: translate(-50%,50%);'>
		<div id ='message'>
			<h1>Welcome to</h1>
			<h2 class="italic">Pal Makkar's</h2>
			<h2>Website</h2>
		</div>
	</div>

<body>
